.table *{
  

  border: 1px solid;
width: 50%;
height:50px;
margin :0px;

}
.input{
text-align: center;
}
.table{
  display: flex;
text-align: center;
}
.application{
    margin: auto;
width: 50%;

padding: 10px;
}
.button{

 margin: auto;
width: 50%;

padding: 10px;
}
.arrow {
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.table:hover{

  transform: scale(1.1);
}
.modal__backdrop {
background: rgba(0, 0, 0, .65);
bottom: 0;
left: 0;
overflow: auto;
position: fixed;
right: 0;
top: 0;
z-index: 1;
}
.modal__container {
background: #fff;
border-radius: 5px;
max-width: 100%;
margin: 50px auto;
padding: 15px;
width: 560px;
}
body {

color: #2e384d;
font-family: "Open Sans", Arial, sans-serif;
}
